#classroom
    background #fff
    .half:nth-child(1)
        p  
            padding  0 1rem
@media (min-width: 620px), screen and (orientation: landscape)
    #classroom
        .half:nth-child(1)
            width 70%
            margin-left auto