#contact  
    background darken($gr,50%)
    padding 3rem 0

    .details
        display flex
        flex-direction column
        align-items center
        justify-content center
        border-bottom 1px solid $lav
        padding 1rem
        i
            color $ora
            font-size 60px
            margin-right 2rem
        p  
            color #fff 
            font-size 1.2rem
        span 
            font-weight bold 
            color $ora 

    fieldset 
        border 0    
    form.amp-form-submit-error [submit-error] 
        color red
        margin-top 1rem
        font-size 1.5rem
        text-align center
        
    form.amp-form-submit-success [submit-success] 
        color green
        margin-top 1rem
        font-size 1.5rem
        text-align center
    input  
        padding .2rem
        margin .5rem 1rem
        font-size 1.2rem
        width 90%
    .textarea-wrap
        min-height 10rem

    textarea
        padding .2rem
        margin 1rem
        font-size 1.2rem
        min-height 10rem
        background silver
        width 90%
    .ampstart-btn
        background $lav
        color #fff
        width 12rem
        margin  1rem 
 
@media screen and (min-width: 640px)
    #contact  
        .details 
            flex-direction row
            justify-content left
            p
                text-align left