#eca
    .flext 
        flex-direction column
        padding 0 1rem
        max-width 960px
    span 
        font-size 1.3rem
        padding-right .5rem
        text-transform capitalize
        text-decoration underline
    .block  
        background lighten($gr,70%)
        margin-bottom 1rem
        padding-top 1rem
        padding-bottom 1rem 