#extra  
    background url(./img/nu2-480.jpg)
    background-size cover
    background-repeat no-repeat
    background-position center
    padding 1rem
    .tag 
        color #fff
    .half 
        background rgba(255,255,255,.65)
        margin-bottom 1rem


@media (min-width: 620px), screen and (orientation: landscape)
    #extra  
        background url(./img/nu2-720.jpg)
        background-size cover
        background-repeat no-repeat
        .flext 
            justify-content space-around
        .half 
            width 80%
@media screen and (min-width: 720px)
    #extra  
        background url(./img/nu2-720.jpg)
        background-size cover
        background-repeat no-repeat
        .flext 
            justify-content space-around
        .half 
            width 45%
@media screen and (min-width: 1080px)
    #extra  
        background url(./img/nu2-1080.jpg)
        background-size cover
        background-repeat no-repeat                        