#getting-started 
    // background: linear-gradient(-100deg, $ora, #fff 85%, $ora); 
    .half  
        padding .5rem
        .myli
            display flex
            margin-bottom 1rem
            .licon
                display flex
                justify-content center
                align-items flex-start 
                width 10%
                min-height 2rem
                .dot 
                    height 2rem  
                    width 2rem
                    background $ora  
                    border-radius 50%
                    border .25rem solid $gr  
            .text
                width 90%
                h4 
                    color $ora
                p  
                    margin 0       