// temp
html  
body  
    height 100%
body
    background lighten($gr,60%)
    margin-top 5rem
div
header
span
figure
figcaption
#section
.section 
    box-sizing border-box
    margin 0
    padding 0
h1  
h2  
h3  
h4  
    font-family 'Times New Roman'
    margin 0

h1  
    color lighten($ora, 20%)
    font-size 2rem 
    text-align center
    text-transform uppercase
    font-weight 300
    span 
        font-family: 'Srisakdi', cursive;
        font-family: 'Nova Script', cursive;
        font-size 1.8rem
        text-transform capitalize
        color darken($gr,40%)
h2  
    color $ora
    font-size 2rem
    font-weight 300
    font-family: 'Fredericka the Great', cursive;
    text-align center
    text-transform uppercase   
h3 
    color darken($gr,60%)
    font-size 1.4rem
    line-height 1
    font-weight 300
    margin 0 1rem
    text-transform capitalize
h4  
    color #fff
    font-size 1.4rem
    line-height 1
    font-weight 300
    margin 0
    

p  
    color darken($br,50%) 
    font-size 1.1rem
    font-family: 'Spectral', serif;
    font-weight 400
    line-height 1.4
    margin 0 1rem 1rem
.section 
    padding 3rem 0
.break 
    .big
        display none
    .medium
        display none
    @media (min-width: 620px), screen and (orientation: landscape)
        .medium 
            display block
        .small
            display none

    @media screen and (min-width: 960px)
        .medium
            display none            
        .big 
            display block
.tag
    text-transform capitalize
    font-family: 'Srisakdi', cursive;
    font-family: 'Nova Script', cursive;
    font-size 1.3rem
    color darken($ora,60%)
    margin-top 0
    text-align center

.headerwrap
    display flex
    flex-wrap wrap
    justify-content center
    max-width 1080px
    margin 1rem auto
    // background darken($gr,12%)
    padding 1rem
    // border-bottom 1px solid $ora
    .img-wrap 
        width 60%

    header  
        width 100%
        text-align center
@media (min-width: 620px), screen and (orientation: landscape)
    .headerwrap
        .img-wrap 
            width 25%
        header  
            width 75%
            border-left .5rem solid $ora
            padding-left 1rem
            h2                   
                text-align left
            .tag 
                text-align left
                margin 0
                min-height 4rem        

.logo
.logo2
    display inline-block
ul  
    color #965426
    font-size 1.25rem

//flex-system
.flext 
    display flex
    flex-direction row
    flex-wrap wrap
    // justify-content space-between
    box-sizing border-box
    max-width 1080px
    margin auto
    padding 0 1rem
.half 
    padding 1rem
    box-sizing border-box
    width 100%
    @media screen and (min-width: 600px)  
        width 49%

.quarter
    padding 1rem
    margin 1rem 0
    @media screen and (min-width: 440px)      
        width 80%
    @media screen and (min-width: 640px)          
        width 50%
    @media screen and (min-width: 720px)  
        width 40%
    @media screen and (min-width: 1020px)  
        width 24%
.third 
    padding 1rem 
    margin-top 1rem
    box-sizing border-box
    width 100%
@media screen and (min-width: 440px)
    .third      
        width 80%
@media screen and (min-width: 640px)
    .third
        width 49%
@media screen and (min-width: 960px)
    .third    
        width 32%
.section-footer
    display flex
    justify-content center
    padding-top 2rem
    button 
        background $gr
        border-radius 1.5rem
        border 2px solid $ora
        color #fff
        font-size 1.3rem
        padding 1rem
