#about 
    header 
        max-width 1080px
        margin auto
    .flext 
        flex-direction column
    .my-img
        margin auto 
        width 50%
        img
            border-radius 50%
    .about 
        width
