#lead


    .flext
        justify-content space-between
        align-items center
    .half:nth-child(2)
        background lighten($gr,40%)
        margin-top 1rem     
    .half:nth-child(1)        
        .features 
            // position absolute 
            top 2rem
            left .5rem
            right .5rem
            color darken($gr,80%)
            font-size 1.3rem
            padding-bottom 1rem
            padding-right 1rem
            li  
                // list-style none
                padding-bottom 1rem

    .myli
        display flex
        .licon
            width 15%
        p 
            width 85%
    .table-of-contents
        h3  
            text-align center
        button
            margin-bottom .3rem
            font-size 1.1rem
            text-decoration underline
            text-align left
            background transparent  
            outline none 
            border none
        p 
            margin 0 0 .3rem
            font-size 1.2rem
        a  
            color darken($gr, 20%)            



@media (min-width: 620px), screen and (orientation: landscape)
    #lead
        .flext
            .half:nth-child(1)
                width 80%
                margin auto
            .half:nth-child(2)
                width 60%
                margin auto
@media screen and (min-width: 960px)
    #lead
        .flext
            .half:nth-child(1)
                width 60%

            .half:nth-child(2)
                width 30%


