#top
    // background: linear-gradient(160deg, $ora, $ora 40%, $gr 40%, $gr 60%, $ora, $ora 60%);
    background linear-gradient(top left, $gr,$ora,$gr)
    // border-top 1rem solid $gr
    border-bottom .5rem solid $gr
    padding 1rem 0

    // border-bottom .5rem solid $ora

    .flext 
        background transparent
        max-width 1280px
        align-items center

    .forty 
        display flex
        flex-direction row
        flex-wrap wrap
        align-items center
        .logo-wrap 
            width 50%            
            margin 2rem auto
            .logo
                width 100%
        .title  
            width 100%
            color darken($gr,50%)
            text-align center
            margin 0 .5rem
    .tag 
        color #ffffff
        margin-top 1rem
@media (min-width: 620px), screen and (orientation: landscape)
    #top 
        .forty
            width 50%
            .logo-wrap
                width 30%
                height auto
                margin 0 auto
            .title
                width 100%
                text-align center
        .sixty
            width 50%
            max-width 480px

@media screen and (min-width: 960px)
    #top
        .forty
            width 40%
            padding-right 1rem

            .title
                text-align right
                width 60%

        .sixty        
            width 60%
            .tag 
                text-align left