$ora= #ff6600
$gr=#878787
$rg=#00FF48
$br=#965426
@import "nib"
@import "styls/global"
@import "styls/top"
@import "styls/lead"
@import "styls/intro"
@import "styls/method-1"
@import "styls/method-2"
@import "styls/classroom"
@import "styls/getting-started"
@import 'styls/teams'
@import "styls/eca"
@import "styls/extra"
@import 'styls/bonus'
@import 'styls/contact'
@import 'styls/footer'