doctype
html(amp, lang="en")
  head
    meta(charset="utf-8")
    title davidnu
    link(rel="canonical", href="https://example/index.html")
    meta(name="viewport", content="width=device-width,minimum-scale=1,initial-scale=1")
    <script custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js" async></script>
    <script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.2.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Bad+Script|Fredericka+the+Great|Nova+Script|Srisakdi:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
 
    script(type="application/ld+json").
      {
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "headline": "headline here",        
        "datePublished": "2018-09-08T12:02:41Z",
        "description":"Description here",
        "image": [
          "logo.svg"
        ]
      }
    | 
    |<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    script(async, src="https://cdn.ampproject.org/v0.js")
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Nova+Script|Spectral:300" rel="stylesheet">
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    <script async custom-element="amp-position-observer" src="https://cdn.ampproject.org/v0/amp-position-observer-0.1.js"></script>
    <script async custom-element="amp-animation" src="https://cdn.ampproject.org/v0/amp-animation-0.1.js"></script>
    style(amp-custom)
      include ../html/index.css
  body
    
    section#top
      .flext     
        .forty
          .logo-wrap
            <amp-img class="logo" width="200" height="250" layout="responsive" src="./img/logo2.png"></amp-img>   
          h1.title
            |n.u.d.s. paperless classroom<br/> 
            span the classroom that goes where you go


        .sixty
          p.tag a website for naresuan university demonstration school students enrolled in the paperless classroom project
    section#lead.section
      .headerwrap
        .img-wrap
          <amp-img class="" width="220" height="170" layout="intrinsic" src="img/laptop220x170.png"></amp-img>
        header 
          h2 the benefits of your paperless classroom
          p.tag Apart from the obvious absence of paper, some of the benefits of this system are...     
      .flext
        .half
          .myli
            .licon
              <amp-img class="logo" width="50" height="50" layout="intrinsic" src="./img/logo.png"></amp-img>
            p Assignments can be completed using any internet device              
          .myli
            .licon
              <amp-img class="logo" width="50" height="50" layout="intrinsic" src="./img/logo.png"></amp-img>
            p No sending emails backwards and forwards and no need for USB drives  
          .myli
            .licon
              <amp-img class="logo" width="50" height="50" layout="intrinsic" src="./img/logo.png"></amp-img>
            p Multiple people can edit the same file at the same time 
          .myli
            .licon
              <amp-img class="logo" width="50" height="50" layout="intrinsic" src="./img/logo.png"></amp-img>
            p Edits can be viewed in real time. Watch edits as they happen 
          .myli
            .licon
              <amp-img class="logo" width="50" height="50" layout="intrinsic" src="./img/logo.png"></amp-img>
            p Revision and lesson materials with you where ever you go 

        .half 
          .table-of-contents
            h3 table of contents  
            p <a href="#" on="tap:intro.scrollTo(duration=200)">Introduction</a>
            p <a href="#" on="tap:classroom.scrollTo(duration=250)">In the classroom</a>  
            p <a href="#" on="tap:getting-started.scrollTo(duration=300)">Getting started</a>
            p <a href="#" on="tap:method-1.scrollTo(duration=350)">Module struction 1</a>
            p <a href="#" on="tap:method-2.scrollTo(duration=400)">Module structure 2</a>
            p <a href="#" on="tap:teams.scrollTo(duration=450)">Teamwork</a>
            p <a href="#" on="tap:eca.scrollTo(duration=500)">Grading</a>
            p <a href="#" on="tap:extra.scrollTo(duration=550)">Making the most of your account</a>
            p <a href="#" on="tap:bonus.scrollTo(duration=600)">Bonus</a>
            p <a href="#" on="tap:contact.scrollTo(duration=650)">Contact</a>

    section#intro.section
      .headerwrap
        .img-wrap
          <amp-img class="" width="220" height="170" layout="intrinsic" src="img/david.png"></amp-img>
        header 
          h2 what's it all about
          p.tag A look at the system and what you'll be learning         
      .flext
        .me
          
          h3 A little info about the project 
          p Hi, I'm David, I created and administer this program for the benefit of N.U.D.S. students. 
          p While I do use a free version of Google's G Suite, I don't use Google Classroom. I found it too cumbersome and restrictive.
          P This website is the early stages. I hope to add more pages and probably extra guidance. 
          p If you have any questions about how everything operates, please don't hesitate to contact me using one of the methods at the bottom of the page.
          p Regards<br/>ฝรั่งหล่อ
        .about 
          h3 title
          p I'm going to be teaching you mainly academic English, along with a range of idioms. I'll be providing useful stock phrases which you can use in a variety of contexts. 
          p My aim is to provide you with a wide range of vocabulary. For this reason I've chosen project based teaching, so you'll also be learning the fundementals of a range of topics.
          p All modules are flexible, so if there any aspects of the English language you need help with, please ask and I will add them. We can work together to provide better courses for you and future generations
          ul 
            li Health science: Nociception
            li Dentistry 
            li Law 
            li Business management
            li Economics
            li Sustainable design
      .section-footer
        <button on="tap:top.scrollTo(duration=500)">Back To Top</button>

    section#classroom.section
      .headerwrap
        .img-wrap
          <amp-img class="" width="220" height="140" layout="intrinsic" src="img/devices220x140.png"></amp-img>
        header 
          h2 how we will be working
          p.tag a look into how the class and team assignments progress                     
      .flext
        .half
          h3 your class
          p As well as being accessible with any internet device, during lessons the assignments are projected onto a screen at the front of the class. You connect to the assignment document with either a laptop or mobile device. 
          p Edits to the document are in real time, i.e. they can be seen instantly. The assignments may be completed during the lesson, or as homework. 
          p You can all see each others responses. You're welcome to compare and discuss your answers with other teams. take note of how others structure their answers and uses the vocabulary. Can you do better? 
          
          p WARNING! Copying is easily noticed. 
      .section-footer
        <button on="tap:top.scrollTo(duration=500)">Back To Top</button>
    section#getting-started.section
      .headerwrap
        .img-wrap
          <amp-img class="" width="220" height="150" layout="intrinsic" src="img/account.png"></amp-img>
        header 
          h2 Getting started: creating your account
          p.tag A step by step guide to getting your account up and running  
      .flext
        .half
          .myli
            .licon
              .dot
            .text
              h4 Get connected  
              p Add me on <a href="https://www.facebook.com/kru.david.16" target="_blank">FaceBook</a>. I will use this account to keep you updated        
          .myli
            .licon
              .dot
            .text
              h4 Your details  
              p I'll give you access to spreadsheet to add your details to in English. I need your first name, last name and nickname. The sheet will automatically create your email address from your nickname and initials.
          .myli
            .licon
              .dot
            .text
              h4 Your account  
              p Once I've created your account I'll explain how to access all the documents
          .myli
            .licon
              .dot
            .text
              h4 Team allocation  
              p You will be assigned to a team with five or 6 other students. I choose the team!

        .half
          .myli
            .licon
              .dot
            .text
              h4 Dropboxes  
              p I will give you access to two folders (dropboxes). Do not create any files in these dropboxes 
          .myli
            .licon
              .dot
            .text
              h4 The year dropbox  
              p Everyone in your year, and your parents if they ask, will have access to this folder. In here you will find your grade sheet. This is automatically updated every time you complete a class, team, or oral component.
          .myli
            .licon
              .dot
            .text
              h4 The class dropbox  
              p in here you'll find the workbook for completing your assignments. You do not need to submit any assignments. I can see them as soon as you add them to your workbook 
          .myli
            .licon
              .dot
            .text
              h4 Updates  
              p I will be adding more files, such as test, midterm and final guidance as the course progresses  
      .section-footer
        <button on="tap:top.scrollTo(duration=500)">Back To Top</button> 

    section.break
      <amp-img class="big" width="6" height="1" layout="responsive" src="img/desktop1080.jpg"></amp-img>
      <amp-img class="medium" width="4" height="1" layout="responsive" src="img/desktop960.jpg"></amp-img>
      <amp-img class="small" width="2" height="1" layout="responsive" src="img/desktop360.jpg"></amp-img>              
    section#method-1.section
      header 
        h2 method 1
        p.tag some bullshit goes here           
      .grid
        .grid-item
          h3 course modules
          p Each course is divided into a number of four part modules. The first two are class and team assignments. The third tests you for fluency and accuracy of the vocabulary. The fourth is gotcha for any student hoping to rely on their team mates for a higher grade.
        .grid-item
          h3 part 1: phrases
          p I provide and demonstrate 5 or 6 pieces of vocabulary. Each team provides examples of the given phrase in any context. For this part you are graded as a class. You can see other responses and also add comments if you think improvements can be made. You should all work together.
        .grid-item
          h3 part 2: topic
          p After the lecture each team responds with a given scenario. Scoring is on a team basis. Bonus for the best answers and “Team of the Month” awards may be available.                     
        .grid-item
          h3 part 3: oral
          p Oral: You are required to speak one of the phrases, of the teacher’s choosing, from part one. *At this point students are given a preliminary score
        .grid-item
          h3 part 4: multiplier test
          p An individual test where you are required to use the phrases from part one in the context of the topic. The score from this is used to multiply the scores from parts 1 and 2. This ensures a fairer grade. The test is online and marked automatically
        .grid-item
          h3 Oral multiplier
          p *To prevent a “read, speak, forget” scenario in the regular oral tests, at the end of the semester you need to speak 4 random phrases, of my choosing, from the entire vocabulary list. The score for this test is used to multiply the earlier scores. 
      .section-footer
        <button on="tap:top.scrollTo(duration=500)">Back To Top</button>        
    section#method-2.section
      header 
        h2 method 2
        p.tag some bullshit goes herez
      .flext 
        .third 
          h3 title
          p The second approach only spans two periods and is fast and furious. I'll provide you with the vocabulary and give you examples and guidance, After this I'll provide you with a block of text in the context of the topic, containing examples of the vocabulary. You'll them be required to give everyday examples of the vocabulary. 
     
        .third
          h3 title
            p Grading will be for team and class. You must complete this assignment during the lesson. Once the lesson ends you won't be able to edit your work book. 
        .third
          h3 title
          p This part will feature a short multiplier test where you'll answer questions about the vocabulary or the vocabulary and topic.
          p Straight after the multiplier test, in the same period, we'll have the oral test. ONce again youll be asked to provide a ramdom phrase from the vocabulary list.
      .section-footer
        <button on="tap:top.scrollTo(duration=500)">Back To Top</button>
    section.break
      <amp-img class="big" width="5.4" height="1" layout="responsive" src="img/team1080.jpg"></amp-img>
      <amp-img class="medium" width="3.6" height="1" layout="responsive" src="img/team720.jpg"></amp-img>
      <amp-img class="small" width="1.37" height="1" layout="responsive" src="img/Team360.jpg"></amp-img> 

    section#teams.section
      .headerwrap
        .img-wrap
          <amp-img class="" width="220" height="150" layout="intrinsic" src="img/team.png"></amp-img>
        header 
          h2 teamwork: and why it matters
          p.tag everything we do in life affects others, therefore the importance of teamwork cannot be underestimated. ... and don't forget, teachers need help too      
      .flext 
        .half 
          .box
            <amp-img class="logo" width="85" height="75" layout="intrinsic" src="./img/logo.png"></amp-img>              
            h4  Throughout our adult life there are times when we need to help and support others. We must also understand that our performance affects those around us
          p The approach I take deals with both these scenarios. 10% of your total grade with depend upon how well all of your team perform in the individual tests. So what does this do?
        .half 
          .box
            <amp-img class="logo" width="85" height="75" layout="intrinsic" src="./img/logo.png"></amp-img> 
            h4 Some students give up before they even start or are afraid to ask for help when they needed. Sometimes a little push is all they need
          p Knowing that others are depending on them could be all they need. Otherwise they can ask their team mates. None of us are super human, we all need help at sometime. Hopefully; knowing if you fail, your team fails will encourage you to do better.
        .half 
          .box
            <amp-img class="logo" width="85" height="75" layout="intrinsic" src="./img/logo.png"></amp-img>              
            h4 Not many people forget a helping hand. Helping someone when they neeed it could pay you back many times over in the future.
          p Advanced learners: here's a chance for you to develop your leadership skill by taking charge of your group. I strongly advise you to help others, rather than just do the assignments for them. Remember, if your team mates fail, you fail!               
        .half 
          .box
            <amp-img class="logo" width="85" height="75" layout="intrinsic" src="./img/logo.png"></amp-img>              
            h4 Whatever profession you decide to follow, I doubt you will be working alone. You will depend on others and other will depend on you
          p We all have strengths and weaknesses. Not being good in a specific area is nothing to be ashamed of. In a team we all help each other. A good team is always greater than the sum of its parts.
      .section-footer
        <button on="tap:top.scrollTo(duration=500)">Back To Top</button>               
    section#eca.section
      header 
        h2 grading
        p.tag how the scores from the different components all add up
          .flext 
            ul 
              li 
                p
                  span class & team work:
                  |35% of your total grade, pending multipliers
              li 
                p 
                  span oral:
                  |15% of your total grade, pending multiplier 
              li 
                p 
                  span team:
                  |10% of your total grade, the average of all your team's scores in the multiplier tests                       
              li 
                p 
                  span midterm:
                  |15% of you total grade    
              li 
                p 
                  span final
                  |25% of your total grade
            h3 The grade sheet 
            p The marks for each component are added as soon as the component is completed. The sheet automatically calculates your grade. I don't believe in surprising you with your final grade at the end of the semester. Having access to all your scores will allow you to identify your strengths and weaknesses          
            h3 It won't be easy
            p Achieving grade 4 will not be easy. To do so you must demostrate good use of the vocabulary and an understanding of the topics. It is to everyones benefit that future universities and employers of NUDS students can have confidence in the grades we award 
            h3 cheating: don't do it!
            p I want students to be proud of themselves for achieving grade 4 in my subject. Cheating devalues the grade of every honest student and lowers the perceived standards of the school. Instead of trying to improve the learning experience, I am having to waste time trying to prevent cheating. This means because a few students cheat, every student suffers.
            p cheating will result in suspension of grade until parents have given their assurance it will not happen again. The student will also be downgraded.
      .section-footer
        <button on="tap:top.scrollTo(duration=500)">Back To Top</button>
    section#extra.section
      header 
        h2 outside of the course
        p.tag there's much more to G suite than what I'll be teaching
          .flext
            .half 
              h3 About your G suite acount
              p Your account will be like any other gmail account. You'll have plenty of storage space to keep all your documents. You can upload and convert Microsoft Office documents to Drive, or download your files to Office.
              p If you upload documents for other subjects you'll have direct access to them from anywhere. No need to store them on USB's or email them. You really don't need MS Office, it's a useless piece of garbage that belongs in the stone age. 
            .half
              h3 for the future
              p G Suite, or something similar, is used in most western high schools and many universities. While you will learn the basics of G suite as the courses progress, there is much more than to that what we're able to cover.
              p I provide extra guidance for such things as: formatting documents, creating quizzes and surveys, and working with spreadsheets. All of which are accessible at any time.
      .section-footer
        <button on="tap:top.scrollTo(duration=500)">Back To Top</button>              
    section#bonus.section
      header 
        h2 a bonus and thank you
        p.tag special bonus for the team of the year
        .bonus
          <amp-img class="" width="360" height="240" layout="intrinsic" src="img/food.png"></amp-img>        
          h3 Enjoy your meal
          p As a thank you for your effort and hard work, I'll buy the team with the overall highest score a KFC or Pizza Hut meal
          p Scores will be based each team members individual score from:
          ul 
            li assignments
            li Oral tests
            li Midterm
          p Due to timing, I won't be including scores for the final examination. needless to say, any cheeating and the best you can hope for is a spinach sandwich.
      .section-footer
        <button on="tap:top.scrollTo(duration=500)">Back To Top</button>           
    section#contact.section
      header 
        h2 Getting in touch
        p.tag special bonus for the team of the year
        .flext
          .half 
            .details
              <i class="material-icons">email</i>
              p 
                span Email:<br>
                |<a href='mailto: info@davidnu.com' class='mailto'>info@davidnu.com</a>
            .details
              <i class="material-icons">local_phone</i>
              p 
                span Tel:<br/>
                |No Chance!
            .details
              <i class="material-icons">phone_iphone</i>
              p 
                span Mobile:<br/>
                |No Chance
            .details
              <i class="material-icons">location_city</i>
              p 
                span Address<br/>
                |1 Sanambin Road<br/>
                |Muang Distict<br/>
                |Phitsanulok<br/>
                |65000         
          .half 
            <form method="post" action-xhr="ampform.php" target="_top">
            <div class="ampstart-input inline-block relative mb3">
              <input type="text" name="name" placeholder="Name..."required>
            </div>
            <div class="ampstart-input inline-block relative mb3">
              <input type="email"name="email"placeholder="Email...">
            </div>
            <div class="ampstart-input inline-block relative mb3">
              <input type="tel" name="my_tel" placeholder="Contact Number">
            </div>            
            <div class="textarea-wrap ampstart-input inline-block relative mb3">
              <textarea name="enquiry"></textarea>
              //- <input class="textarea" type="text-area" name="enquiry"placeholder="How can we help?">
            </div>

            <input type="submit"value="Send Message" class="ampstart-btn caps">
            <div submit-success>
            <template type="amp-mustache">Success! Thanks {{name}}. Our design specialists will contact you shortly.</template>
            </div>
            <div submit-error>
              <template type="amp-mustache">Error! Thanks {{name}} for trying to contact us. Please try another method.</template>
            </div>
          </form>        
    #footer 
      p Web design by D.F. Glover &copy;Copyright: David Glover(2018)    
      .section-footer
        <button on="tap:top.scrollTo(duration=500)">Back To Top</button>