$ora= #ff6600
$aro=#0F1FF
$gr=#878787
$rg=#00FF48
$br=#965426
@import "nib"
@import "styls/global"
@import "styls/top"
@import "styls/lead"
@import "styls/intro"
@import "styls/method"
@import "styls/classroom"
@import "styls/getting-started"